body {
    background: linear-gradient(rgb(160, 217, 255), gray)
}

.header {
    align-items: center;
    display: flex;
    background-color: azure;
    justify-content: space-around;
    padding: 0 30px;
    height: 200px;

  }
h1, h2, a {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    
}

.header-menu {
   
    list-style: none;
    display: flex;
    margin: 0px 0px 0px -14px;
    padding: 0px;
    position: relative;
    width: 100px;
    text-align: left;
    height: inherit;
    text-decoration: none;   
    text-align: right;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    align-items: center;
    
  }

.hero-logo {
    transform: rotate(-90deg);
    margin: 100px;
    align-content: center;
}

.hero__container img {
    padding: 0px;
    margin-bottom: 50px;
    align-content: flex-end;
    padding-bottom: 100px;
    justify-content: baseline

}


.header a {
    color: black;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.link li a {
    text-decoration: none;
}

.container {
    justify-content: space-between;
    float: inline-start;
    display: flex;
    align-items: center;
}

.header ol {
    display: flex;
    height: inherit;

}
.header ol li {
    height: inherit;
   
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
   }
   
.header a {
    color: black;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header__menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}

.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carousel-item {
    background-color: black;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;    
}

.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}
.carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    transform: rotate(-90deg);
}
.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%,  rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}